.add-batch-container{
    margin: 10pt;
    text-align: center;
}
.new-batch-input{
    height: 20pt;
    width: 95%;
    box-sizing:border-box;
    font-size: 13pt;
    margin-top: 2pt;
    margin-bottom: 2pt;
    margin-right: 2pt;
}
.add-batch-button{
    width: 95%;
}
.show-delete-button{
    width: 100%;
}
.projects-menu-batch-container{
}