.parts-main-container{
    display: inline-block;
    border: 1px solid;
    height: 600pt;
    width: 100%;
}

.menus-container{
    border: 1px solid;
    height: 100%;
    width: auto;
}

.project-container{
    height: 100%;
}
.projects-menu-container{
    display: flex;
    flex-direction: row;
    height: 100%;
    border: 1px solid;
    width: auto;
}
.projects-list{
    width: 200pt;
    border: 1px solid;
}

.projects-list h5{
    margin: 0;
    padding-top: 10pt;
    text-align: center;
    font-size: 16pt;
}
.projects-header-container{
    background-color: #6c9aff;
    height: 60pt;
}


.parts-container{
    display: flex;
    flex-direction: row;
    height: 100%;
}
.parts-menu-container{
    float: left;
    height: auto;
    width: auto;
    border: 1px solid;
}

.parts-list{
    width: 200pt;
}
.parts-list h5{
    margin: 0;
    padding-top: 10pt;
    text-align: center;
    font-size: 16pt;
}
.parts-header-container{
    background-color: #6c9aff;
    height: 60pt;
}

.parts-data-container{
    position: relative;
    float:left;
    border: 1px solid;
    height: 100%;
    width: 700pt;
}
.part-data{
    border: 1px solid;
    height: 100%;
    width: 100%;
    margin: 0;
}