.menu-container{
    display: flex;
    line-height: 36px;
    height:36px;
    cursor: pointer;
    text-indent: 10pt;
    width: 100%;
}
.menu-container:hover{
    background-color: #eeeeee;
}
.selected{
    background-color: #eeeeee;
}
.animate{
    display: flex;
    line-height: 36px;
    height:36px;
    cursor: pointer;
    text-indent: 10pt;
    width: 100%;
    animation: myfade 0.4s;
}
.icon{
    align-self: center;
    margin-left: auto;
    border-radius: 50%;
}
.icon:hover{
    background-color: #94a8ff;
}


@keyframes myfade{
    0%{}
    5%{
        background: rgb(48,205,255);
        background: linear-gradient(90deg, rgba(48,205,255,1) 1%, rgba(0,0,36,0.7791317210477942) 100%);
    }
    100%{background-color: #eeeeee}
}

.menu-item{
    margin-left: 12pt;
    padding-top:6pt;
}



